.edit-cargo {
  display: inline-block;
}

.edit-cargo .name {
  text-align: left;
  width: 240px;
}

.edit-cargo .group td {
  height: 20px;
  padding: 0;
}

.edit-cargo .group .hint {
  padding-left: 5px;
}

.edit-cargo .amount {
  text-align: center;
}

.edit-cargo thead .ms-Stack {
  align-items: center;
}

.edit-cargo tbody input {
  text-align: right;
  width: 60px;
}

.edit-cargo tfoot .total-txt {
  text-align: right;
  padding-right: 5px;
}

.edit-cargo tfoot .total-num input {
  text-align: center;
  width: 60px;
  border: 0;
}