
.sub-site {
  color: grey;
}

.build-type .ms-Button--action,
.system-view2 .ms-Button--action {
  height: 24px;
  text-transform: capitalize;
}

.system-view2 h2 {
  margin: 0;
}

.build-type .list {
  cursor: default;
}

.system-view2 .ms-Button--icon {
  width: 20px;
  height: 20px;
}

th {
  user-select: none;
}

.view-site h2 {
  margin: 0;
}

.basic-table th {
 cursor: pointer;
}