.table-market-links th,
.table-market-links td {
  padding: 1px 8px;
}

.system-view .removable {
  display: block;
  width: max-content;
  padding: 2px;
  margin: -4px;
}

.system-view .removable .btn {
  display: none;
}

.build-order .cr {
  text-align: right;
}

.build-order .cl {
  text-align: left;
}

.build-order .cc {
  text-align: center;
}

.build-order td,
.build-order th {
  padding: 0 4px;
  vertical-align: top;
}