.project-title {
  margin: 10px;
}

.commodities th {
  text-align: left;
  padding: 0 10px 0 5px;
  border-bottom: #e5e5e5 1px solid;
}

.commodities tr {
  height: 20px;
}

.commodities .done {
  color: grey;
}

.commodities .done .t {
  text-decoration: line-through;
}

.commodities tr .btn-assign {
  display: none;
  margin-left: 4px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.commodities tbody .commodity-name {
  padding: 0 10px 0 10px;
  min-width: 240px;
}

.commodities .group td {
  padding-left: 5px;
}
.commodities .assigned {
  white-space: nowrap;
}

.commodities .glue {
  white-space: nowrap;
}

.commodities tr:hover .btn-assign {
  display: inline;
}

.commodities .commodity-need {
  text-align: right;
  padding: 0 10px 0 10px;
  border-left: #e5e5e5 1px solid;
  border-right: #e5e5e5 1px solid;
}

.commodity-num {
  width: 80px;
  text-align: right;
}

.removable {
  padding: 2px;
  align-items: center;
}

.removable lbl {
  padding: 2px;
}

.removable .btn {
  display: none;
  margin-left: 4px;
  position: relative;
  top: 2px;
  cursor: pointer;
}

.removable:hover .btn {
  display: inline;
}

.project-edit input {
  display: block;
  width: 400px;
}

.project-edit textarea {
  width: 400px;
  height: 100px;
}

.detail {
  background-color: rgb(238, 238, 238);
  padding: 2px;
  white-space: pre-line;
}

.stats-header {
  margin-bottom: 10px;
}

.stats-cmdr-over-time {
  margin-top: 10px;
  font-size: 12px;
}

.chart {
  width: 400px;
}

.cmdrs-over-time {
  overflow: hidden;
}

.delivery {
  padding: 10px;
}

.delivery tfoot .total-txt {
  text-align: right;
  padding-right: 5px;
}

.delivery tfoot .total-num input {
  text-align: center;
  width: 60px;
  border: 0;
}

.delivery tfoot td {
  border-top: #e5e5e5 1px solid;
  text-align: center;
  margin: 0;
  padding: 0;
}

.delivery .commodity-name {
  text-align: left;
  width: 195px;
}

.deliver-amount-edit {
  text-align: right;
  width: 50px;
  margin: 0;
}

.deliver-amount input,
.deliver-amount {
  text-align: right;
  width: 60px;
}

.submitting {
  width: 200px;
  margin-bottom: 12px;
}

/* --- Adjustments for smaller screens --- */

@media (max-width: 400px) {
  .commodities {
    font-size: 12px;
  }

  .commodities .commodity-name {
    min-width: 0px;
  }

  .commodities .assigned {
    white-space: unset;
  }

  .project-edit input {
    width: 200px;
    display: block;
  }

  .project-edit textarea {
    width: 200px;
    display: block;
  }
}
