
.build-type table .btn {
  cursor: pointer;
  color: darkgoldenrod;
}

.build-type .both .ms-Button--action {
  height: 24px;
  text-transform: capitalize;
}

.build-type .both {
  cursor: default;
}