body {
  /* TODO: figure out a proper dark theme
  background-color: black;
  background-image: url('assets/back.png');
  background-repeat: repeat;
  color:#f88d01; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14pt;
  padding: 10px;
}

.projects-query {
  width: 400px;
  /* background-color: red; */
}

.rcc {
  float: left;
margin-right: 20px;
}

.projects-list .ms-List-cell {
  margin: 2px 0 2px 10px;
}
.projects-list .odd {
  background-color: rgb(104, 136, 125);
}

.projects-list .even {
  background-color: rgb(219, 219, 219);
}

.commodity-need {
  text-align: right;
}

.cmdr:hover {
  background: #aaffff;
}

.cmdr {
  padding: 2px;
}
.cmdr .remove {
  display: none;
  margin-left: 4px;
  padding: 0 4px 0 4px;
}
.cmdr:hover .remove {
  display: inline;
}


.ms-TextField {
  width: 200px;
}