/* .commodities{
  background-color: yellow;
} */

.project-title {
  margin: 10px;
}

.commodities th {
  text-align: left;
  padding: 0 10px 0 10px;
  border-bottom: #e5e5e5 1px solid;
}

.commodities tr {
  height: 20px;
}

.commodities tr:hover {
  background: #aaffff;
}

.commodities .btn-assign {
  display: none;
  margin-left: 4px;
}

.commodities .commodity-name {
  padding: 0 10px 0 10px;
  min-width: 240px;
}

.commodities .done {
  color: grey;
  text-decoration: line-through;
}

.commodities .assigned {
  white-space: nowrap;
}

.commodities .glue {
  white-space: nowrap;
}

.commodities tr:hover .btn-assign {
  display: inline;
}

.commodities .commodity-need {
  text-align: right;
  padding: 0 10px 0 10px;
  border-left: #e5e5e5 1px solid;
  border-right: #e5e5e5 1px solid;
}

.commodity-num {
  width: 80px;
  text-align: right;
}

.commodities .odd {
  background-color: rgb(238, 238, 238);
}

.removable:hover {
  background: #aaffff;
}

.removable {
  padding: 2px;
  align-items: center;
}

.removable lbl {
  /* display: block; */
  padding: 2px;
  /* height: 16px; */
  /* min-height: 16px; */
}

.removable .btn {
  display: none;
  margin-left: 4px;
  padding: 0 4px 0 4px;
  margin: 0 4px 0 4px;
}

.removable:hover .btn {
  display: inline;
}


.project-edit input {
  display: block;
  width: 400px;
}

.project-edit textarea {
  width: 400px;
  height: 100px;
}

.detail {
  background-color: rgb(238, 238, 238);
  padding: 2px;
  white-space: pre-line;
}


.stats-header {
  margin-bottom: 10px;
}

.stats-cmdr-over-time {
  margin-top: 10px;
  font-size: 12px;
}

.chart {
  width: 400px;
}

.cmdrs-over-time {
  overflow: hidden;
}

.delivery {
  padding: 10px;
}

.delivery .commodity-name {
  text-align: left;
  width: 195px;
}

.deliver-amount-edit {
  text-align: right;
  width: 50px;
  margin: 0;
}

.deliver-amount input, .deliver-amount {
  text-align: right;
  width: 60px;
}

/* --- Adjustments for smaller screens --- */

@media (max-width: 400px) {
  .commodities {
    font-size: 12px;
  }
 
  .commodities .commodity-name {
    min-width: 0px;
  }

  .commodities .assigned {
    white-space: unset;
  }

  .project-edit input {
    width: 200px;
    display: block;
  }
  
  .project-edit textarea {
    width: 200px;
    display: block;
  }
}
